:host {
  padding: 5px;
  overflow-x: auto;

  .item {
    display: inline-block;
    margin: 2px;
    padding: 3px;
    box-shadow: var(--mat-sys-level1);
    background-color: var(--mat-sys-surface-bright);
    color: var(--mat-sys-on-surface);
    border-radius: 4px;

    &.object {
      font-family: 'Courier New', Courier, monospace;
      white-space: pre;
    }
  }
}
