@use '@angular/material' as mat;

:host {
  display: block;
}

textarea,
pre {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  padding: 10px;
}

.error-output {
  overflow-x: auto;
  color: var(--mat-sys-on-error);
  @include mat.card-overrides(
    (
      elevated-container-color: var(--mat-sys-error),
    )
  );

  pre {
    margin-top: 0;
    font-size: 0.9em;
  }
}
.input-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 10px;

  textarea {
    flex-basis: 100%;
    margin-right: 10px;
    resize: vertical;
    min-height: 180px;
  }

  .actions {
    flex-basis: 200px;

    * {
      width: 170px;
      margin-top: 5px;
    }
  }
}

mat-card {
  margin: 16px;
}

.optimizer-settings {
  width: 340px;
  margin-left: auto;
  flex-shrink: 0;

  mat-checkbox {
    margin-top: 15px;
  }
}

.row {
  display: flex;
  align-items: stretch;
  width: 100%;

  & > mat-card {
    margin-top: 0;

    &:not(.optimizer-settings) {
      min-width: 0;
      flex-basis: 100%;
    }
  }
}
