:host {
  display: block;
}

.settings {
  padding: 10px;
  text-align: right;
}

.table,
.no-results {
  font-size: 0.9em;
  border-radius: var(--mat-sys-corner-small);
  overflow: hidden;
  border: 1px solid var(--mat-sys-outline-variant);
}

.no-results {
  font-style: italic;
  padding: 10px;
}

.row {
  padding: 0 10px;
  position: relative;
  color: var(--mat-sys-on-surface);
}
.header {
  font-weight: bold;
  color: var(--mat-sys-inverse-on-surface);
  background-color: var(--mat-sys-inverse-surface);
  position: sticky;
  top: -10px;
  z-index: 1;
}

.table-body {
  .row:nth-child(even) {
    background-color: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);
  }
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 20px 15px;
}

.row ::ng-deep {
  dort-cell-generic,
  dort-cell-object,
  dort-cell-list,
  dort-cell-link,
  dort-cell-keyvalue,
  dort-cell-empty {
    margin: auto 0;
    overflow-y: auto;
  }
}
