:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

svg {
  display: block;
  margin: 10px auto;
  max-width: 100%;
}
.svg-container {
  transform-origin: 0 0;
}
.zoom-container {
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

fieldset {
  border: none;
  padding: 0;
  width: fit-content;
  margin: auto;
  font-size: 0.95em;
  display: flex;
  align-items: center;

  legend {
    float: left;
    margin-right: 5px;
    color: var(--mat-sys-on-surface);
  }
  mat-checkbox {
    margin-left: 15px;
  }
}
